@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

body{
    background-color: silver;
    /* width: 100%; */
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    min-width:385px;
}
.all{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.header{
    background:rgb(126, 215, 221);
    color: rgb(25, 173, 20);
    padding: 5px;
    height: 40px;
    /* position: fixed; */
    /* width: 79.2%; */
    
}
.footer{
    background: orange; 
    text-align: right;
    height: 40px;
}

.top{
    background-image: url(images/all1.jpg);
    width: auto;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1.0;
    /* filter: alpha(opacity=50); */
  
 
    /* margin-top: 10px; */

}
.text{
    text-align: center;
    margin-top: 250px;
    margin-bottom: auto;
}
.text span{
    opacity: 0.8;
    background: rgb(173, 179, 185);
    border-radius: 20px;
    color: red;
    font-size: 5vw;
    
}
.text b{
    background: rgb(71, 70, 70);
    border-radius: 10px;
    font-size: 1vw;
    color: yellow;
    opacity: 0.8;
}


img{
    border-radius: 8px;
    width: 45%;
    height:300px;
    margin: auto;
}
.header img{
    width: 10%;
    height: auto;

}
.badami-cont, .bandipura-cont, .chikkamagaluru-cont, .bangalore-cont, .gokarna-cont, .shravanabelagola-cont {

    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

}

.badami1{
    background-color:lightgrey ;
    margin-top: -20px;

}
.bandipura1{
    background-color:lightblue;
    margin-top: -10px;
}
.chikkamagaluru1{
    background-color:lightcyan;
    margin-top: -10px;
}
.bangalore1{
    background-color:lightgrey;
    margin-top: -10px;
}
.gokarna1{
    background-color:lightgreen;
    margin-top: -10px;
}
.shravanabelagola1{
    background-color:lightgreen;
    margin-top: -10px;
}



/* @media screen and (min-width :750px){ */

    .badami{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    
    }
    .bandipura{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    }
    .chikkamagaluru{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    }
    .bangalore{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    }
    .gokarna{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    }
    .shravanabelagola{
        display: flex;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
    }

    .body p{
    
        text-indent: 40px;
        line-height: 1.6;
        max-height: 350px;
        overflow: auto;
        /* overflow-x: hidden; */
    }
    .about p{
        text-indent: 40px;
        line-height: 1.6;

    }
    .contact p{
        line-height: 1.6;

    }

/* } */

@media screen and (max-width:749px){
    img{
        width: 80%;
        height: 300px;
        display: block;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

    }

    .top{
        background-image: url(images/all1.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1.4;
        filter: alpha(opacity=50);
        /* margin-top: 10px; */
    
    }
    .gokarna, .bandipura, .shravanabelagola{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .badami, .chikkamagaluru, .bangalore{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .text{
        text-align: center;
        margin-top: 100px;
        margin-bottom: auto;
    }
    .text span{
        color: red;
        font-size: 5vw;
        
    }
    .text b{
        font-size: 1vw;
    }

    .contact-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


}

.body h2{
    padding-top: 30px;
    padding-left: 30px;
    /* text-align: center; */
    color: blue;
}

.about{
    padding: 35px;
    background-color: rgb(184, 184, 94);
}
.about h2{
   text-align: center;
    color: blue;
}
.contact h2{
   
    color: blue;
}
.contact{
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    margin-top: -20px;
}
.contact-details{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen  and (max-width:650px){
    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .destination td{
        font-size: 12px;
        color: #464040;
        text-align: center;
    }

    .destination h3{
        color: rgb(167, 247, 8);
        text-align: center;
        font-size: 20px;
    }


}
li:active{
    border: #464040 1px solid;
    background: green;
}
.destination{
    padding: 30px;
    background: lightcyan;
}
.destination h3{
    color: yellowgreen;
 text-align: center;
 font-size: 20px;
}

.heritage, .beach, .nature, .adventure, .cities{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
    margin: auto;
}
.heritage, .beach, .nature, .adventure, .cities li{
    text-decoration: none;
    list-style-type: none;
}

.destination td{
    text-align: center;
    width: 200px;
    padding: 10px;
    color: #464040;
    /* font-size: 1.4vw; */
}

nav ul li {
    display: inline-block;
}
  
  nav ul li a {
    padding: 10px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 15px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }
  .dot{
      width: 10%;
  }








nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    /* padding: 60px 0; */
    /* position: fixed; */
}
  
  nav ul {
      margin-top: 1px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  

.contact-li, .about-li, .destination-li, .index-li{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); background: rgba(255, 255, 255, 0.1); color: rgba(0, 35, 122, 0.7);
}
.f-cont{
    margin: 10px;
}
hr{
    width: 100%;
}

.footer{
    background-color:lightGreen;
}

